[2013-04-16 22:15] dethpickle opened #1 "TypeError: 'str' object is not callable on print record.root().xml([])"
When I try running the sample evtx_dump, I always get errors:

`<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<Events>
Traceback (most recent call last):
  File "/Users/userabc/Python/Deposit/FullDebug/EventLogs/evtxdumper.py", line 20, in <module>
    main()
  File "/Users/userabc/Python/Deposit/FullDebug/EventLogs/evtxdumper.py", line 16, in main
    print record.root().xml([])
  File

[2013-04-23 02:56] #1 closed, assigned to nobody

[2013-04-24 14:52] williballenthin opened #2 "Unicode characters not handled correctly during XML generation"
## Version

Tag v0.2.2
## Stack trace

[code]
## Test case:

`04877b2270ff35d0d6d1146fd1a09c12  C__WINDOWS_SYSTEM32_WINEVT_Logs_Microsoft-Windows-Diagnostics-Performance%4Operational.evtx`

[2013-05-20 01:07] williballenthin opened #3 "Parsing is slow"
Title says it all. This is just a slow library. On reasonable hardware, it may take 5 seconds per 1MB or worse. Considering we'd like people to actually use this library in the real-world, we'll have to do better.

The issues probably stem from the fact that the library is designed to be easy to read and experiment with, rather than blazing fast.  In specific, everything descends from the BinaryPa

[2013-05-31 04:40] #3 closed, assigned to nobody

[2013-09-03 22:07] bpasteur opened #4 "Short event log files are not processed"
An event log file short enough to have only one chunk will fail in the class FileHeader function chunks().  Changing the line:
        while ofs + 0x10000 < len(self._buf):
to:
        while ofs + 0x10000 <= len(self._buf):

will fix the issue

[2013-09-04 01:44] #4 closed, assigned to nobody

[2013-10-08 11:55] sc07kvm opened #5 "SID converts not correctly"
Nodes.py
# [19] = parse_sid_type_node,  -- SIDTypeNode, 0x13

...
                id_high = self.unpack_dword_be(ofs)
                id_low = self.unpack_word_be(ofs)

[2013-10-08 23:14] williballenthin opened #6 "Add contributors and release notes section of readme"
Contributors:
  @sc07kvm for #5, bug parsing SID types

[2013-10-15 22:36] #5 closed, assigned to nobody

[2013-10-15 22:48] #6 closed, assigned to williballenthin

[2013-10-15 22:49] #2 closed, assigned to nobody

[2013-11-29 14:34] sc07kvm opened #7 "Exception"
Invalid exception in "Nodes.py"(raise "string" -> raise BaseException("string")). For example:
987 raise "Unexpected size for SizeTypeNode: %s" % hex(size)
1040 raise "Unexpected type encountered: %s" % hex(type_)
...

[2013-11-29 19:25] #7 closed, assigned to nobody

[2014-02-02 18:00] williballenthin opened #8 "Reorganize directory structure and prepare for DEB packaging"
Some pointers from Erik Kristensen:

Here is a PPA quick start guide — http://blog.launchpad.net/ppa/personal-package-archives-for-everyone

If you install the python-stdeb package, you’ll be able to do this very simply on a ubuntu system.

1. python setup.py —command-packages=stdeb.command sdist_dsc
2. cd deb_dist/package_name
3. Edit the debian/control file, make sure section is set  to somethin

[2014-04-02 00:02] bigsnarfdude opened #10 "AttributeError: 'TemplateNode' object has no attribute 'fast_template_instance'"
I was following the example on a test file and the evtxinfo.py and evtxdump.py worked.
An error in evtxtemplates.py was found. Here is the output from the three scripts:

[code]

[2014-07-14 15:44] raggnar opened #11 "evtxdump.py: error: too few arguments"
Hi there, trying to run the program using:
python evtxdump.py
from /c/python27/python-evtx/scripts (master)
still getting the error message above and when i add the path to the security.evtx it is not working
python evtxdump.py c:\**********.security.evtx is giving me
IOError: [Errno 2] No such file or directory: 'c:\**********.security.evtx'

Can you assist me thanks

[2014-08-29 23:32] lthurlow opened #12 "UnicodeEncodeError in evtx_structure.py"
UnicodeEncodeError: 'ascii' codec can't encode character u'\xe9' in position 128: ordinal not in range(128)

Traceback (most recent call last):
  File "Downloads/evt/python-evtx/scripts/evtx_structure.py", line 197, in <module>
    main()
  File "Downloads/evt/python-evtx/scripts/evtx_structure.py", line 193, in main
    print(line)

[2015-05-11 17:50] jk1ng opened #13 "Does not encode XML entities obtained from EVTX data"
Hi!

It seems that this library does not encode XML entities that are obtained from EVTX data.

I've created a fix for this, but I wanted to create an issue id for it as well.

You can test this out by having an event generated where the custom event data includes XML special characters.

Thanks!

[2015-05-12 13:50] #13 closed

[2015-07-21 12:35] chanansh opened #15 "Novice help"
I don't understand how to use this package withing python as an API.
I did `from Evtx.Evtx import Evtx` now I did `with Evtx(filename) as evtx: e=evtx.records() ` how do I read `e`'s content?

[2015-07-21 18:20] williballenthin commented on #15
An EVTX record is essentially a binary XML node. In python-evtx, each record has a complex structure that matches the XML structure. This allows us to fetch any field and reconstruct the XML document in different ways. Typically, though, you'll convert the node into an XML string like in the samples `get_pretty_record.py` and `dumpevtx.py`:

[code]

[2015-07-21 18:20] #15 closed

[2015-07-22 05:59] chanansh commented on #15
Thanks. What if I would like to enumreate on records? (I don't know the ids)
On Jul 21, 2015 9:20 PM, "Willi Ballenthin" <notifications@github.com>
wrote:

[2015-07-22 13:40] williballenthin commented on #15
See the example here: https://github.com/williballenthin/python-evtx/blob/master/scripts/filter_records.py#L16

[2015-07-23 06:37] chanansh opened #16 "TypeError: ord() expected string of length 1, but int found"
Code:
[code]

[2015-07-23 21:03] williballenthin commented on #16
is there any chance you can share the evtx file thats causing this issue?

[2015-07-26 07:22] chanansh commented on #16
It's a 10MB file.

*HS*

On Fri, Jul 24, 2015 at 12:03 AM, Willi Ballenthin <notifications@github.com

[2016-03-30 12:24] thomasRousseau opened #21 "Getting a "mmap closed or invalid""
Target file : System.evtx (see the attached zip archive) on a free Win7 VM system (https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/windows/)

Original code :
[code]

Error traceback :
[code]
[System.zip](https://github.com/williballenthin/python-evtx/files/195460/System.zip)

What am I missing ?

[2016-03-30 13:58] williballenthin commented on #21
Using `Evtx` as a context manager (that is, like `with Evtx(filename) as evtx_file:`) only keeps the underlying file open in the indented block. Since the parser is lazy, it hasn't actually parsed out all the fields for the header when you assign it to the local variable `header`.  When you try to call `header.check_magic()`, the parser attempts to read from the file to extract the magic header, b

[2016-03-30 14:00] thomasRousseau commented on #21
It makes sense ... Thanks !

[2016-03-30 14:01] #21 closed

[2016-03-31 04:59] cbitterfield opened #22 "AttributeError: 'str' object has no attribute 'fomrat'"
I am trying to parse some windows logs in "evt" format.
It does a pretty good job of parsing until this point:

[code]

[code]
[code]

[2016-03-31 07:41] thomasRousseau commented on #22
My fault, typo fixed, and PR pushed. Should be merged this afternoon.
You can manually edit Evtx/Nodes.py (fomrat -> format) in the meantime.
Sorry again

[2016-03-31 15:25] williballenthin commented on #22
fixed is merged.

[2016-03-31 15:25] #22 closed

[2016-03-31 15:28] williballenthin commented on #8
wontfix. we'll continue to use pip for package management.

[2016-03-31 15:28] #8 closed

[2016-03-31 15:28] #11 closed

[2016-03-31 15:28] #12 closed

[2016-03-31 15:29] #16 closed

[2016-08-02 20:32] Sid-Vishez opened #24 "HTMLEntities instead utf8 characters in fields value"
Hello! All national symbols are encoded to HTMLEntities
![2016-08-03 1 24 57](https://cloud.githubusercontent.com/assets/2886098/17343967/287fd9fc-5922-11e6-990f-4a2862a0c342.png)

[2016-08-02 22:52] williballenthin commented on #24
Hi @Sid-Vishez

To be clear, are you requesting that the scripts be updated to encode the output as utf-8 rather than use the html entities fields?

[2016-08-03 04:31] Sid-Vishez commented on #24
yes, exactly.

[2016-09-06 17:22] williballenthin commented on #24
hi @Sid-Vishez

i do not think this will be easy to do. we use the standard python xml sax encoder to format these values, and its this routine that has chosen to using html entities. i think a compliant xml parser should transparently decode these strings. are you having trouble doing this?

[2016-09-06 17:22] #24 closed

[2016-09-21 10:43] patatetom opened #25 "UnicodeEncodeError when stdout is redirected"
hi Willi,

I'm using the lasted python-evtx.
if I keep stdout in console and redirect stderr in a file, all is ok with no error :

[code]

but if I redirect stdout to a file, I've got an encode error

[code]

regards

[2016-09-21 14:39] williballenthin commented on #25
hey @patatetom are you on python2 or python3? i want to reproduce this locally similar to your environment so i can fix it correctly.

[2016-10-08 20:15] patatetom commented on #25
Hi Willy,
Sorry for response time :-(
I tried to reproduce this strange behavior (with python2) but did not succeed :-(
Sorry for the inconvenience :-(
Regards

[2016-10-08 20:15] #25 closed

[2016-10-09 05:35] cvaughan79 opened #26 "OverflowError: Python int too large to convert to C long"
Thanks for the hard work in this project.  It's really helpful.

I just have one problem to report, when I try and parse the Windows EVTX file 'CAPI2' I get the error below.  Is there a workaround please?  I am actually using the library to parse every EVTX file in a certain directory and this EVTX is the only one that throws up a problem!

  File "g:\Python Code\Events\Evtx2Time.py", line 121, in

[2016-10-11 14:45] williballenthin commented on #26
huh, i'm not sure whats happening here. the stack trace is useful, but i can't see why the overflow error would be thrown on `struct.unpack_from`.

is there any chance you can share the evtx file? i dont think i have a similar one on my system, and haven't been able to reproduce this error.

[2016-10-11 14:46] williballenthin commented on #26
a workaround might be to use 64-bit python, if that's feasible.

the reported issue is still a bug, however.

[2016-10-13 08:16] cvaughan79 commented on #26
Hi Willi,
Thanks for getting back to me.  Sorry my response took a few day.  
I have attached the EVTX log file but please just delete it when you've done your testing.
Thanks,
Chris,

    On Tuesday, 11 October 2016, 18:46, Willi Ballenthin <notifications@github.com> wrote:

 a workaround might be to use 64-bit python, if that's feasible.the reported issue is still a bug, however.—
You are receiv

[2016-10-13 14:11] williballenthin commented on #26
would you email this to me directly at willi.ballenthin@gmail.com? when you respond to a github notification email, github doesn't know what to do with attachments, so i didn't get it.

thanks!

[2016-10-26 14:51] pavel-a opened #27 "Bug in BinaryParser.py?"
In BinaryParser.py, function `def align(offset, alignment)`, line 77:  two return statements on same level, so the "if" has no effect.

[2016-10-26 22:08] #27 closed

[2016-10-26 22:08] williballenthin commented on #27
good catch, thanks for reporting!

[2016-11-24 14:38] stephensheridan opened #28 "evtxdump UniDecodeError with MS DNS Server log file"
Firstly, thanks for writing this library. I'm having an issue with converting binary evtx files that are generated using Windows DNS server. I'm assuming that the error is being caused by a field containing maybe a DNS request that has characters that cannot be decoded to ascii. This would be pretty normal when dealing with DNS queries. See output below....

[code]

[2016-11-26 21:58] williballenthin commented on #28
thanks for reporting this issue! as you presumed, there's an issue parsing some string data. from what i can gather from the stacktrace, there's data declared as either ascii or utf-8 that doesn't get extracted correctly. i'm not sure if its bad data, or valid utf-8 data that's being shoveled into the ascii decoder.

unfortunately, due to the evtx structures, without an example file, i'll have a h

[2016-11-27 19:46] stephensheridan commented on #28
Hi, thank you for the reply. I understand it will be difficult to track down the problem without a sample log file. However, its a bit tricky for me to send you the log file I'm working on as it contains info on DNS lookups from with our organisation along with source IP etc. I might be able to look at the files using MS DNS server log file viewer in order to isolate the offending entry. If I can

[2016-11-27 19:54] williballenthin commented on #28
ok, i completely understand. i certainly wouldn't want my logs shipped off to some guy on the internet ( ;-) ), so i don't expect you to. let me brainstorm a procedure for triaging this. if its affecting you, its probably affecting other people, so i'd really like to get this fixed up.

[2016-11-28 17:41] stephensheridan commented on #28
Hi,

I added a try block to my own code to see could I figure out whereabouts in the log file was causing the encoding error. I found the point where the xml conversion crashed and then used MS Event Viewer to seek to that point in order to look at the event contents. It looks like a bug in the code that generates the log file in the first place as the MS Event viewer is unable to read the problem

[2016-12-01 17:11] williballenthin commented on #28
huh, this is tricky. there is a routine we can used to strip out the invalid string data; however, typically i avoid using it cause it tends to hide *my* bugs when dealing with ascii/unicode. here, it seems fair to use that function.

i'll implement and test a fix today.

if you're able, can you send me a fragment of that example file that contains the malformed string shown in the screenshot abov

[2016-12-05 17:38] stephensheridan commented on #28
Hi, Sorry for the delay.

I extracted the offending records into a separate evtx file.

Tried to edit in hex editor to anonymise  but for some reason was corrupting file, tried to load back into MS event viewer and was getting corrupt file error.

So eventually gave up and exported offending sample as plain XML, anonymised and have attached.

NOTE: I have renamed to .txt in order to attach
[dns-pr

[2017-02-13 15:47] patatetom opened #30 "CRLF line terminators"
hi Willi,
on my Linux system, the CRLF line terminators are problematics : when I try to run your evtx_dump script, I've this error : `/usr/bin/env: 'python\r': Permission denied`
regards, lacsaP.

[2017-03-08 08:19] scherma opened #32 "Exception 'NoneType' object not callable, Nodes.py line 124"
Got an issue with the Sysmon event log I'm trying to parse:

[code]

I can try playing around with the source when I get home tonight to see if I can persuade it to give me the exact bytes it's failing on; I can also provide you with the event data - it works fine in EventViewer - but would prefer to send that privately rather than posting it here. Let me know!

[2017-03-10 04:36] williballenthin commented on #32
if you can share the source data, i'd be happy to triage the issue. you can email me at wilbal1087@gmail.com

[2017-03-10 08:19] scherma commented on #32
Unfortunately it's in a VM and I forgot to take a copy before restoring... my current evtx is fine, I'm going to have to do a few more runs and try to reproduce it. Will let you know if I can't, it may just have been a bad write within the VM.

[2017-05-22 16:09] williballenthin opened #33 "code cleanup: remove `fast_template_instance`"

[2017-05-22 16:10] williballenthin opened #34 "code cleanup: remove `fast_substitutions`"

[2017-05-22 16:10] williballenthin opened #35 "code cleanup: remove Views"
simply give record, chunk, file header `.xml()` methods that render to xml, since its the only useful format.

[2017-05-22 17:18] williballenthin commented on #35
won't remove views, since people depend on this API. but will add helper methods to record to quickly render to xml and lxml.

[2017-05-22 17:18] williballenthin commented on #35
closed in fad7659

[2017-05-22 17:18] #35 closed

[2017-05-22 17:18] williballenthin commented on #34
closed in 1d869c68a31ec9b3a9c6626bc1c15ec459c8ac89

[2017-05-22 17:18] #34 closed

[2017-05-22 17:18] williballenthin commented on #33
closed in 1d869c68a31ec9b3a9c6626bc1c15ec459c8ac89

[2017-05-22 17:18] #33 closed

[2017-05-22 17:21] williballenthin commented on #30
should be fixed in 84a03b3, which will be merged into master very soon

[2017-05-22 17:21] #30 closed

[2017-05-22 17:23] williballenthin commented on #10
should be fix in 1d869c68a31ec9b3a9c6626bc1c15ec459c8ac89, which will be merged very shortly

[2017-05-22 17:23] #10 closed

[2017-05-22 19:36] williballenthin commented on #32
i found this issue today (ultimately character entity references weren't supported), and have fixed it. you should no longer encounter the issue from v0.6.0 onwards!

closed in 5ec3136c60323bfc0d276393d44babdfc58bfa6b

[2017-05-22 19:36] #32 closed

[2017-05-22 19:38] williballenthin commented on #28
i've just finished a substantial amount of work to refactor the encoding and handling of xml data in this library. i suspect this issue *should* be fixed, but without the source data, I cannot confirm. please try again using v0.6.0 onwards, and reopen the issue if anything crops up!

closed in 4b4ba9569c2dc1e7aa3d98d76ba92ce08d8ee0d7

[2017-05-22 19:38] #28 closed

[2017-05-24 14:46] stephensheridan opened #36 "AttributeError: 'module' object has no attribute 'XML_HEADER'"
Hi Will,

Using the latest release and running evtxdump against an evtx file that parsed previously in version V0.3.2, I am getting the following error.

evtx file has ElFile sig in first 7 bytes and was generated from Microsoft DNS Server.

[code]

[2017-05-25 14:31] williballenthin commented on #36
hey @stephensheridan

i suspect that perhaps you have an older version of the library also installed, which doesn't have this updated header field. if you've recently downloaded the latest source directory, then you'll need to ensure you've also installed the library, or Python may pick the older library (even though its running the new script).

easiest way is probably:

    pip install --upgrade

[2017-05-29 13:29] stephensheridan opened #37 "evtx_dump UnicodeDecodeError with MS DNS log"
Hi Will,

Have updated libraries using pip update and have cloned latest source.

This is the same issue I was having a while back with a MS DNS log file that was generated by my college network admins. This may be a problem with how MS is generating the log file. I have extracted an example of the offending entry (using MS event file viewer) and have attached it here so you can  test against it.

[2017-05-29 13:59] stephensheridan commented on #36
Yip, installed new libraries with pip update and solved issue.

Thank you.

[2017-05-29 13:59] #36 closed

[2017-05-30 00:50] williballenthin commented on #37
Hey @stephensheridan

Thanks for reporting this issue and taking the time to provide a sample log file. I've been able to reproduce the bug, which you can see [here](https://travis-ci.org/williballenthin/python-evtx/jobs/237347166#L343). I'll trace it down, and update the page here as I make progress.

[2017-05-30 01:28] williballenthin commented on #37
As you mentioned,

[source](https://github.com/williballenthin/python-evtx/issues/28#issuecomment-264921439)

This is indeed this issue. The log declares a region as ASCII text; however, the data in this field is not valid ASCII. I'm not sure how this comes to be, and its probably a bug in the source of the event log entries.

(Technically, the "ASCII string" fields are stored as single byte chara

[2017-05-30 01:48] williballenthin commented on #37
The test case [here](https://github.com/williballenthin/python-evtx/blob/fix/issue-37/tests/test_issue_37.py#L47) demonstrates how to continue processing an evtx file despite encountering an issue decoding corrupt ASCII data.

Fortunately, the issue won't be encountered until you try to parse/render the detailed XML structure of a record. This means you can try/except rendering the XML, and contin

[2017-06-02 13:33] stephensheridan commented on #37
Hi @williballenthin

Thank you for the very quick reply and solution. My main point of interest within each event is the QNAME filed. So, I would rather just ignore events that are not properly encoded or have issues. I also think this is an issue with how the DNS evtx log entries are being generated rather than it being a reoccurring case that should be specifically handled in some way by your li

[2017-06-02 13:33] #37 closed

[2017-06-19 17:38] nbareil opened #38 "Truncated SubStatus/Status for 4625 events"
Hello Will,

In a clean virtualenv with master's python-evtx (b0bc27060829138e14a6eb8711337212e6c01a54), some fields appears to be truncated. I have isolated the bug to a single EVTX file that I will send to your gmail address right away.

[code]
If you compare that output to the following eventviewer's screenshot, you see that `SubStatus` and `Status` are truncated in the process.

![eventviewer]

[2017-06-26 14:56] williballenthin commented on #38
looks like the field is being parsed as a hex32 node:

[code]

[2017-06-26 15:03] williballenthin commented on #38
oh, its an off-by-one error here:

https://github.com/williballenthin/python-evtx/blob/master/Evtx/Nodes.py#L1472

:man_facepalming:

[2017-06-26 15:04] williballenthin commented on #38
closed in 164378e4ef93cd2ac6db6d739f38fcb0e82185f5

[2017-06-26 15:05] williballenthin commented on #38
will keep this issue open until we have test coverage for it.

at that point, i'll also publish bug-fix release 0.6.1 to pypi.

[2017-06-27 06:45] nbareil commented on #38
This [minimal test case](https://github.com/williballenthin/python-evtx/files/1104369/test_issue_38.evtx.zip) was found demonstrating the bug.

BAD: SubjectLogonId=0x000000000019d3
GOOD: SubjectLogonId=0x000000000019d3af

164378e correctly fixes the bug. Thanks you Willi!

[2017-06-27 15:24] #38 closed

[2017-06-27 15:24] williballenthin commented on #38
thanks @nbareil!

[2017-07-07 14:15] patatetom opened #39 "struct.error: bad char in struct format"
hi,

this error occurs when the script **evtx_dump.py** is used on the events file **Microsoft-Windows-LiveId%Operational.evtx** that comes from Windows 10. it is at your disposal if you need it...

thanks for really good job, regards, lacsaP.

[code]

[2017-07-09 00:04] williballenthin commented on #39
whoa, i wonder how this ever worked. `W` is not a valid item specifier for `unpack`, and I have no idea where it came from. i suppose it was undocumented in python2, and python3 has removed it.

are you able to share the source evtx file that causes this issue? if it can be shared publicly then we'll make it into a regression/unit test (best case); otherwise, i'll look at it privately and try to r

[2017-07-09 00:07] williballenthin commented on #39
correct specifier is `H`.

[2017-07-10 07:52] patatetom commented on #39
I just change specifier W for H :

[code]
and a different error occurs :
[code]
I just mail you the evtx file, regards, lacsaP.

[2017-07-17 01:14] williballenthin commented on #39
thanks @patatetom!

I've added unit tests that exercise the issue, then triaged and fixed the underlying bug. the parser now correctly handles SYSTEMTIME timestamps.

closed in c9eaef0.

[2017-07-17 01:14] #39 closed

[2017-07-19 14:39] linedash opened #40 "AttributeError: 'NullTypeNode' object has no attribute 'find_end_of_stream'"
Hi,

When attempting to parse an evtx file as gathered by a collector on a Win server 2012 R2 box ; I get the following errors:

[code]

running Python 2.7.9 on Debian 8.  I installed the current version of python-evtx using the setup.py utility from the github download.  Please let me know if you need any more details.

[2017-07-20 14:45] williballenthin commented on #40
Hi @linedash

Thanks for taking the time to report this issue!

Are you able to share an evtx file that demonstrates this issue? I've learned that its critical to add unit and regression tests as we find issues to 1) demonstrate bugs, and 2) ensure they don't creep back in. I can always try to blindly fix a bug, but I strongly prefer not to do this.

[2017-07-21 08:08] linedash commented on #40
Hi @williballenthin

Would it be possible to get an email address or somewhere I could send one a link to one?  I wouldn't be comfortable releasing it into the wild due to the nature of the data.

I'll see if I can get someone to sign off on me releasing the data in the meantime.

[2017-07-21 11:45] williballenthin commented on #40
Hey @linedash,

No problem. At least seeing the source data will allow me to triage the
issue. You can email me at: willi.ballenthin@gmail.com.

On Fri, Jul 21, 2017 at 4:08 AM linedash <notifications@github.com> wrote:

[2017-07-21 13:56] patatetom opened #41 "KeyError: 138"
hi Willy,

I've this issue with `evtx_dump.py` on `Microsoft-Windows-Ntfs%4Operational.evtx` file (from Windows 10) :
[code]
the evtx file `Microsoft-Windows-Ntfs%4Operational.evtx` seems to be ok because it is correctly exported from Windows : I send you the exported and the original evtx file...

regards, lacsaP.

[2017-07-22 19:40] williballenthin commented on #41
i can reproduce this issue using the provided .evtx file, though unfortunately, my local system doesn't exhibit this unexpected node type. i'll continue to search for public evtx files that demonstrate the issue.

[2017-07-22 20:48] williballenthin commented on #41
note:

    hex(138) == 0x8A

[2017-07-23 00:34] williballenthin commented on #41
this has been tricky to track down. still working on it.

[2017-07-24 07:10] patatetom commented on #41
In its opening momentum, Microsoft has not documented its file format ?

[2017-08-14 07:52] MrAnde7son opened #42 "Parsing BinXML format"
Hi,

I'm using python to pull event logs from remote machine using ms-even6 interface (https://msdn.microsoft.com/en-us/library/cc231282.aspx).
I used EvtRpcRegisterLogQuery and EvtRpcQueryNext functions which produce a byte array that contains the BinXml data of the event. While having some issues with the parsing, I came through your project. From my understanding, Evtx also contains the event a

[2017-08-14 12:06] williballenthin commented on #42
Hi @MrAnde7son

This is an interesting use case, and one I hadn't considered before. I'm not very familiar with this remote interface. I'd be happy to take a look at a sample of your tool's output and see if it looks familiar. It would certainly be neat to parse this data source with minimal extra effort.

[2017-08-14 13:51] MrAnde7son commented on #42
Hi,

Thanks for the quick reply!
Here's the implementation of MS-EVEN6 interface with the use of Impacket (huge thanks to Alberto!):

[code]

And here's the actual connection and data collection, this code uses EvtRpcRegisterLogQuery function which returns a context handle, used to pull the actual events by using EvtRpcQueryNext function.

[code]

Then, as you can see, I'm iterating through the re

[2017-08-14 14:03] williballenthin commented on #42
Wow, this looks really neat!

Do you happen to have a sample of the output and binary data handy? Alternatively, I can install the the dependencies and get the above script working locally, but it'll take me a bit longer to get a quick triage back.

[2017-08-14 14:36] MrAnde7son commented on #42
Sure, no problem!

[code]

[2017-08-14 16:15] williballenthin commented on #42
here's the raw data from an evtx event entry:

[code]
and the parsed structure:
[code]
and the rendered record:
[code]

[2017-08-14 16:18] williballenthin commented on #42
looks like offset 0x14 from the RPC data matches offset 0x18 from the evtx file data, which is the start of the bxml root node. this is good news!

let me see what happens when i try to blindly parse the RPC data using the evtx file parser.

[2017-08-14 20:00] williballenthin commented on #42
hi @MrAnde7son

It looks like these two data sources use the same serialization format to encode the XML data. I think it will be possible to extend python-evtx to support the flags used by the RPC data. unfortunately, since i hadn't seen them before, the parser doesn't support them yet. i'll need to spend a bit of time to get everything working together.

as a bit of background... the evtx file f

[2017-08-15 19:49] MrAnde7son commented on #42
Awesome! Thanks @williballenthin .
Looking forward.. meanwhile I'll read more about this BinXML format, becuase I didn't fully understand it yet.

[2017-10-23 15:58] MNWPRO opened #43 "UnicodeDecodeError: 'utf-16-le' codec can't decode bytes in position 0-1: illegal UTF-16 surrogate"
i don't know  why,i need your help

[2017-10-23 16:28] williballenthin commented on #43
Hi, @MNWPRO

In order to triage this issue, you'll need to provide more details about the data you are trying to parse, and the method with which you are parsing. Please share with me the script you're using to parse. If possible, please also share the source data, if its not sensitive.

[2017-10-24 15:52] MNWPRO commented on #43
@williballenthin
oh，i'm sorry，
I used this script：Evtx_dump.py and  The following 123.zip is the EVTX file, which is generated by sysmon.exe, sysmon.exe is a logging tool for Microsoft, and the following is a link to the [tool:](https://docs.microsoft.com/zh-cn/sysinternals/downloads/sysmon)
[123.zip](https://github.com/williballenthin/python-evtx/files/1411451/123.zip)

[2017-10-24 15:54] MNWPRO commented on #43
@williballenthin
I am Chinese, my English is not good, please forgive me. I hope you can understand the above content

[2017-10-24 16:23] williballenthin commented on #43
@MNWPRO thanks for the additional details. i've added a regression test so to this project so that its easy to reproduce. next, i'll try to figure out what the source of the bug is.

[2017-10-24 16:38] williballenthin commented on #43
@MNWPRO can you use the windows event viewer to display event number 508 from the sysmon log? i can see that there is some encoded data, possibly in chinese, but i'm not sure what its supposed to be. if you can include a screenshot here that would be a big help.

[2017-10-25 05:15] Mikkgn commented on #42
hi @williballenthin

I encountered with the same problem and didnt find any python library, wich can be helpful me. Can I expect a function to be implemented in your library?

[2017-10-31 06:55] MNWPRO commented on #43
![image](https://user-images.githubusercontent.com/29529706/32210901-0d29b080-be4b-11e7-97a9-573a02bf560c.png)
In the picture, the Chinese is translated into English:
this event is incorrect because the format of the base XML is incorrect. The following is the original text of the event.
I'm sorry that I couldn't get back to you in time
@williballenthin

[2017-10-31 06:57] MNWPRO commented on #43
Will that be Sysmon's problem? If that's the case, it's Microsoft's own fault
@williballenthin

[2017-10-31 07:06] MNWPRO commented on #43
![image](https://user-images.githubusercontent.com/29529706/32211341-0bba8fe2-be4d-11e7-8f03-94bb14b906a5.png)
This is a screenshot of the same event in other ID, and it does contain strange characters, which are meaningless, at least in my opinion
@williballenthin

[2017-10-31 11:56] williballenthin commented on #43
yes, this looks like its an issue with sysmon or Microsoft. seems like invalid data is provided to the event log, or it has become corrupt in some other way. unfortunately, I'm not sure that this python tool can do anything to fix it. i'd recommend registering an exception handler when processing the logs so that you can continue work even if you encounter corrupt entries.

[2017-10-31 11:56] williballenthin commented on #43
please feel free to continue the discussion, but i'll close this issue as there's nothing to be done by this project.

[2017-10-31 11:56] #43 closed

[2017-12-21 11:11] SeekWellServer opened #44 "evtx_dump.py OSError: [Errno 22] Invalid argument"
Hello,

i am on windows 10 64 bits and i can't workaround this issue.
This code works for another EVT file so i don't understand the problem and i am not enough skilled in python to debug it. If you want i can provide you the file involved to test by yourself.

Traceback (most recent call last):
  File ".\python-evtx-master\scripts\evtx_dump.py", line 42, in <module>
    main()
  File ".\python-ev

[2018-01-02 12:46] john-corcoran opened #45 "Evtx.BinaryParser.ParseException raised unexpectedly"
Hi,

I'm seeing exception Evtx.BinaryParser.ParseException raised unexpectedly when parsing event log "Microsoft-Windows-Windows Firewall With Advanced Security%4Firewall.evtx" (extracted from a Windows Server 2012 testing instance) using evtx_dump.py.

Same behaviour seen when parsing on Windows with Python 2.7, and Ubuntu with Python 2.7 / 3.5.

Traceback from Windows with Python 2.7 as follows:

[2018-01-02 12:58] john-corcoran opened #46 "Evtx.BinaryParser.OverrunBufferException raised unexpectedly"
Hi,

I'm seeing exception Evtx.BinaryParser.OverrunBufferException raised unexpectedly when parsing event logs "Microsoft-Windows-Windows Firewall With Advanced Security%4Firewall.evtx",  "Microsoft-Windows-WindowsUpdateClient%4Operational.evtx", and "Microsoft-Windows-CAPI2%4Operational.evtx" (all extracted from a Windows 7 testing instance) using evtx_dump.py.

For Microsoft-Windows-Windows Fire

[2018-01-02 17:53] williballenthin commented on #45
hey @john-corcoran

Thanks for raising this issue. The easiest way to triage it will be to share the .evtx file. I'd be happy to take a peek if you send to my email: willi.ballenthin@gmail.com

[2018-01-02 17:53] williballenthin commented on #46
hey @john-corcoran

Thanks for raising this issue. The easiest way to triage it will be to share the .evtx file. I'd be happy to take a peek if you send to my email: willi.ballenthin@gmail.com

[2018-01-10 23:58] geekscrapy opened #47 "json output"
How would you go about getting json output? Just looking to dump the events to json for easy ingest into logstash

[2018-01-11 05:41] williballenthin commented on #47
I'd probably render to the XML format, and then translate to JSON from there. Under the hood, the EVTX format represents XML, so while there may be ways to pull out a JSON document file structure more directly, working with an EVTX file as if it were XML is a better way to think about it.

Its a little bit annoying that the different EVTX event types have all sorts of different schemas. But, I thi

[2018-01-11 13:51] john-corcoran commented on #44
Hi, just to echo that I'm encountering the same issue with Python 3.5.2 on Windows 10 and Python 3.6.3 on Windows 7. Python 2.7 doesn't raise the issue and processing completes successfully.

I can send a sample EVTX by email if it helps with diagnosis?

[2018-01-12 21:14] williballenthin commented on #44
hey @john-corcoran thanks for the additional info. this will be very helpful.

can you confirm all your interpreters are 64-bit?

[2018-01-12 21:15] williballenthin commented on #45
@john-corcoran just wanted to let you know i still have my eye on this issue. been doing some traveling so haven't had as much time as i'd have liked to triage the bug. the evtx files you provided should be enough for me to figure things out in the next few days.

[2018-01-15 15:16] john-corcoran commented on #44
Hi @williballenthin, just tested both 64-bit and 32-bit instances of Python 3.6.4 on Windows 7, and both gave the same exception at the same point as listed in the OP.

I'll email through a sample EVTX that is exhibiting the issue. Thanks for looking into it!

[2018-01-17 23:04] williballenthin commented on #44
for the evtx file provided by @john-corcoran, the problematic record is number 21:

[code]

notably, the `ResolutionExpirationDate` is empty. according to the py3 documentation, dates less than 1970 will raise an `OSError`, which is what we see here. ref: https://docs.python.org/3/library/datetime.html#datetime.datetime.utcfromtimestamp

[2018-01-17 23:09] williballenthin commented on #44
this behavior changed in python 3.3, where `OSError` is now raised instead of `ValueError`. there's a handler for `ValueError` [here](https://github.com/williballenthin/python-evtx/blob/c9eaef0e8133321933b50f67c825c7fa7a575147/Evtx/BinaryParser.py#L110) that needs to be updated.

[2018-01-17 23:12] williballenthin commented on #44
issue addressed in 5fb7662506d2c39aee5a9a143a9cc47d3bdc461d

thanks to @SeekWellServer for reporting the issue, and @john-corcoran for providing a test binary!

[2018-01-17 23:12] #44 closed

[2018-01-17 23:32] williballenthin commented on #46
I suspect this evtx file is corrupt. For example, when I simply print the record numbers, we get output like:

[code]

clearly, `7999193089` is not a valid record number. I think expected behavior would be to identify this corruption earlier, and then notify the user that something is wrong (rather than trying to interpret invalid data).

[2018-01-17 23:34] williballenthin commented on #46
`evtx_info.py` also fails:

[code]

[2018-01-17 23:41] williballenthin commented on #46
seems like this file contains junk data after 3 valid chunks:

[code]

commits 5d2754f2375c8c2eadccba342d04b50432d35e30 and 1ed29cf1961c3927f5f2591785127b54f7a33da0 improve the robustness of the code that parses chunks.

[2018-01-17 23:45] williballenthin commented on #46
i *think* the issue is that when enumerating chunks (and therefore records) via the `Evtx` log object, the log object doesn't take into account how many chunks are declared to be in the log file. Instead, it keeps reading until the end of the file. So, if there's junk data appended to the file, it attempts to parse this as valid data. See here: https://github.com/williballenthin/python-evtx/blob/5

[2018-01-17 23:57] williballenthin commented on #46
confirmed the theory above, and addressed the issue in df8edf41e40a999f764e6a83a5564643e9c25f68.

thanks to @john-corcoran for reporting this issue!

[2018-01-18 00:07] williballenthin commented on #46
whoops!

# warning: all the above comments correspond to issue #45

from this point on, we'll actually address issue #46...

[2018-01-18 00:07] williballenthin commented on #45
i addressed issue #45 in df8edf4; however, i put all my comments in the #46 thread, so please check there for an explanation of what happened.

sorry for the confusion...

[2018-01-18 00:07] #45 closed

[2018-01-18 00:09] williballenthin commented on #46
file structure looks ok:

[code]

[2018-01-18 00:13] williballenthin commented on #45
I suspect this evtx file is corrupt. For example, when I simply print the record numbers, we get output like:

[code]

clearly, `7999193089` is not a valid record number. I think expected behavior would be to identify this corruption earlier, and then notify the user that something is wrong (rather than trying to interpret invalid data).

[2018-01-18 00:13] williballenthin commented on #45
`evtx_info.py` also fails:

[code]

[2018-01-18 00:13] williballenthin commented on #45
seems like this file contains junk data after 3 valid chunks:

[code]

commits 5d2754f2375c8c2eadccba342d04b50432d35e30 and 1ed29cf1961c3927f5f2591785127b54f7a33da0 improve the robustness of the code that parses chunks.

[2018-01-18 00:13] williballenthin commented on #45
i *think* the issue is that when enumerating chunks (and therefore records) via the `Evtx` log object, the log object doesn't take into account how many chunks are declared to be in the log file. Instead, it keeps reading until the end of the file. So, if there's junk data appended to the file, it attempts to parse this as valid data. See here: https://github.com/williballenthin/python-evtx/blob/5

[2018-01-18 00:14] williballenthin commented on #45
confirmed the theory above, and addressed the issue in df8edf41e40a999f764e6a83a5564643e9c25f68.

thanks to @john-corcoran for reporting this issue!

[2018-01-18 00:36] williballenthin commented on #46
Seems like the very first record in the evtx file is either corrupt (or my code is bad):

[code]

Clearly 1124080761 is not a reasonable number of substitutions.

[2018-01-18 00:54] williballenthin commented on #46
there's a root note being parsed at 0x1836, with substitution count being parsed at 0x1844:

[code]

but this doesn't look quite right:

[code]

the dword at 0x1844 is 0x43001C79, which is crazy. a better interpretation of these bytes is the byte at 0x1845 is number of wchar in the utf-16le string that begins at 0x1847.

need to trace down where the parsing is faulty that leads to these incorrect

[2018-01-18 01:00] williballenthin commented on #46
record structure:

[code]

[2018-02-09 17:08] williballenthin commented on #47
closing this issue due to lack of activity. please re-open if you have further questions!

[2018-02-09 17:08] #47 closed

[2018-02-09 17:10] williballenthin opened #48 "add tests for #45 and #46"
via @john-corcoran

just need to add private tests to git and push.

[2018-03-23 09:00] YetteNiu commented on #43
Hi all, I got a similar error with this. I used Anaconda- spyder to read some excel files with Chinese characters to a dataframe and got the following error:
UnicodeDecodeError: 'utf-16-le' codec can't decode bytes in position 6-7: unexpected end of data
I was wondering did anyone of you two solved this issue and can do me a favor regarding this error? Thanks in advanced.

[2018-05-26 06:02] nvev1 commented on #40
Hello,

After checking couple of document. It looks like for this error there are some new specifications. Is it possible to let me know which file I have to change to handle this exception.

In the new RPC document published by microsoft.

https://msdn.microsoft.com/en-us/library/cc231282.aspx

I am seeing a section which could possibly fix this issue.

_Before emitting anything, the tool SHOULD

[2018-06-22 06:25] xsilvertom opened #49 "Module errors, parts of app missing"
**SYSTEM:**
I was seeing errors as below on Windows 10 embedded Ubuntu/Debian (ver: stretch/sid) also referenced as WLS.

**PROBLEM DESCRIPTION**
I thought that both possible installation methods, apt-get and pip, should be equal. Which appeared as wrong assumption.
I did installed first via apt-get and app was not able to perform anything, complained about missing modules and parts. Examples of e

[2018-06-25 15:59] williballenthin commented on #49
Hi @xsilvertom

Thanks for the report. I think what you have included makes sense and is correct. I am not the maintainer of the Debian package, and it seems they are distributing an old version of the library. We should redirect this issue to the Debian maintainer so that everyone benefits.

When dealing with python code, I'd recommend using pip over apt-get for precisely this reason. However, I

[2018-06-25 15:59] #49 closed

[2018-06-25 16:01] williballenthin commented on #49
Here's the Debian mantainer page: https://packages.debian.org/jessie/python-evtx

Note the latest .deb is for version 0.3.1 vs 0.6.1 in pip.

[2018-08-06 12:40] plapornik opened #50 "TypeError when running evtx_eid_record_numbers.py script"
Hi Willi,

I'm getting the following error when running the **evtx_eid_record_numbers.py** script:
TypeError: 'method' object is not iterable

I've debugged the script and worked out that line 23 should be:
`for record in log.records():`
instead of:
`for record in log.records:`

Regards,
Peter

[2018-08-06 15:43] williballenthin commented on #50
great catch, thanks!

[2018-08-06 15:45] williballenthin commented on #50
addressed in 946dee52e861a517a3ae33290f7e5e1d3d99f090

[2018-08-06 15:45] #50 closed

[2018-08-15 15:40] john-corcoran commented on #43
Just chiming in that I've encountered the same issue. From checking output from Microsoft Log Parser, it looks like the events that cause the exception are legitimate but contain either corruption or just unexpected special characters.

Not sure if it's possible to show as much of the failing error as possible, and just replace any corrupted / special characters?

Stack traces are as follows:

Pyt

[2018-08-16 09:19] limonidisicilia opened #51 "Windows 10 (1803) issue"
Hi Willi,
I'm getting the following OSerror when running a script on any Windows 10 PC. The script runs without any issues on MacOS and Windows 8.1. The script occurs when trying to convert a `System.evtx`. I can provide the event log if needed. Thank you, Raf.

[code]

[2018-08-20 09:26] goorgoorlou opened #52 "Evtx.py - Python 3: sys.maxint constant was removed, use sys.maxsize instead"
https://github.com/williballenthin/python-evtx/blob/master/Evtx/Evtx.py#L232

https://docs.python.org/3.1/whatsnew/3.0.html#integers

The sys.maxint constant was removed, since there is no longer a limit to the value of integers. However, sys.maxsize can be used as an integer larger than any practical list or string index. It conforms to the implementation’s “natural” integer size and is typically

[2018-08-20 15:38] williballenthin commented on #52
great catch, thanks!

[2018-08-20 15:38] #52 closed

[2018-09-02 09:35] limonidisicilia commented on #41
Hi Willy
I have exactly the same issue (can send Microsoft-Windows-Ntfs%4Operational.evtx).

Traceback (most recent call last):
  File "./evtx_dump.py", line 42, in <module>
    main()
  File "./evtx_dump.py", line 37, in main
    print(record.xml())
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/Evtx/Evtx.py", line 481, in xml
    return e_views.evtx_record_

[2018-10-01 17:32] williballenthin commented on #51
oddly enough, i'm not able to reproduce this issue using the latest version of python-evtx. are you using the source downloaded from this repository, or the library installed via pypi?

[code]

[2018-10-01 17:39] williballenthin commented on #41
thanks also to @limonidisicilia for providing a sample .evtx file.

i'm able to reproduce this issue, but haven't yet figured out how the data is supposed to be parsed.

the immediate "solution" is to register an exception handler, log the raw data, and skip the record. long term, I might be able to figure out the binary format (and/or will happily accept patches!).

[2018-10-10 18:06] limonidisicilia commented on #51
Just wanted to thank Willi for providing a solution:
https://github.com/williballenthin/python-evtx/commit/28095cc24fdd972531b67edc8aa80bdf83c403ef

This was the issue:
https://bugs.python.org/issue29097

[2018-10-10 18:11] limonidisicilia commented on #41
python-evtx seems to struggle with many WindowsX evtx files, to name a few:
-Microsoft-Windows-Kernel-PnP%4Configuration.evtx
-Microsoft-Windows-Storage-ClassPnP%4Operational.evtx
-Microsoft-Windows-ApplicationResourceManagementSystem%4Operational.evtx'
-Microsoft-Windows-AppModel-Runtime%4Admin.evtx

as a workaround I'm using Powershell:
Get-WinEvent -path .\$item | foreach {$_.ToXml()} > "$item.

[2018-10-10 20:39] williballenthin commented on #51
great!

[2018-10-10 20:39] #51 closed

[2018-11-06 17:05] jvaldezjr1 commented on #46
I have the same problem, but in this instance, I can't share the EVTX files for confidentiality reasons.  I have the same parsing problem.  I tried to follow some of your steps above for leads, and I will paste the output below.  I'm running python 3.7.1.

`λ python D:\tools\Parse-Evtx\scripts\evtx_info.py "Microsoft-Windows-TerminalServices-LocalSessionManager%4Operational.evtx"
Information from

[2019-01-26 17:13] geekscrapy commented on #47
Leaving this here for future queries. In the end I basically did this:

https://dragos.com/blog/industry-news/evtxtoelk-a-python-module-to-load-windows-event-logs-into-elasticsearch/

[2019-02-04 21:54] rlwmmw opened #53 "unexpected keyword argument 'include_inactive'"
I was receiving an error running evtx_info.py on every evtx file I tested.

`Traceback (most recent call last):
  File "python-evtx/scripts/evtx_info.py", line 114, in <module>
    main()
  File "python-evtx/scripts/evtx_info.py", line 75, in main
    for (i, chunk) in enumerate(fh.chunks(include_inactive=True), 1):
TypeError: chunks() got an unexpected keyword argument 'include_inactive'
`
Upon f

[2019-02-05 01:36] williballenthin commented on #53
hey @rlwmmw

thanks for reporting this issue. would you mind double checking that you have the latest source from github installed? it seems that `FileHeader.chunks()` does indeed accept a `include_inactive` flag, as shown here: https://github.com/williballenthin/python-evtx/blob/master/Evtx/Evtx.py#L222

happy to continue to help debugging this, just want to double check any assumptions before di

[2019-02-13 07:01] Vidaandherzone opened #54 "Errors while running"
The following errors occur for the program when I run it. Previously it was running perfectly fine but now it doesn't get corrected.
Does anyone have any ideas on how to correct these?

Traceback (most recent call last):
  File "C:\Users\Admin\Desktop\HTC\python-evtx\scripts\evtx_filter_records.py", line 65, in <module>
    main()
  File "C:\Users\Admin\Desktop\HTC\python-evtx\scripts\evtx_filter_

[2019-02-13 23:02] williballenthin commented on #54
what changed since the last time it was running fine?

[2019-02-14 05:21] Vidaandherzone commented on #54
nothing actually. I didn't run it for a few days and the next time I did, it shows these errors

[2019-03-07 06:56] Vidaandherzone opened #55 "r.root() error"
In evtx_record_template.py
Runtime error:

print(e_views.evtx_template_readable_view(r.root()))
AttributeError: 'NoneType' object has no attribute 'root'

How do I solve this?

[2019-03-07 16:48] williballenthin commented on #55
this happens because the given record is not found. i'll update the script to print a better error message.

[2019-03-07 17:46] #55 closed

[2019-03-19 12:49] sanju1323 commented on #40
Hi @williballenthin,

I have been trying to convert the .evtx logs to XML. With the help of your code, I am able to convert a set of logs and few logs I'm not able to convert. I'm getting this error :

Traceback (most recent call last):
  File "<pyshell#19>", line 1, in <module>
    EvtxToElk.evtx_to_elk("C:\\Users\\517214\Downloads\Archive-ForwardedEvents-2018-01-09.evtx",'http://localhost:9200')

[2019-03-20 10:48] Vidaandherzone commented on #54
Hey, anyone else who had this issue? Did it get rectified??

[2019-04-19 17:32] atcuno opened #56 "IndexError in Views.py"
Got this backtrace on a file pulled from memory during an investigation. Let me know if you need/want anymore information:

[code]

[2019-04-19 17:34] atcuno opened #57 "Evtx.BinaryParser.OverrunBufferException in file from memory"
Got this backtrace on a file pulled from memory during an investigation. Let me know if you need/want anymore information. It parses a couple XML records before backtracing.

[code]

[2019-04-19 17:35] atcuno opened #58 "KeyError in get_variant_value"
Got this backtrace on a file pulled from memory during an investigation. Let me know if you need/want anymore information:

[code]

[2019-04-19 17:37] atcuno commented on #56
Also had a very similar backtrace on a different file. The line number was just a few down (163). I can make a separate ticket if easier:

[code]

[2019-04-19 17:38] atcuno commented on #57
Had a similar error in unpack_word on a different file:

[code]

[2019-04-19 17:39] atcuno opened #59 "KeyError in template function"
[code]

[2019-04-19 17:40] atcuno commented on #40
I just triggered this same issue on a file from a memory sample.

[2019-04-19 17:53] atcuno opened #60 "ParseException in substitutions"
From a file extracted from memory:

[code]

[2019-04-19 17:54] atcuno opened #61 "KeyError in entity_reference"
[code]

[2019-04-19 17:55] atcuno opened #62 "utf decode error in unpack_wstring"
[code]

[2019-04-19 17:55] atcuno opened #63 "KeyError in processing_instruction_target"
[code]

[2019-04-29 13:54] jubois commented on #40
Hi @williballenthin

I've been trying to parse some .evtx aswell and experienced the same behaviour. From what I've tried and what I see in the comments above (the names of the test files of @sanju1323 and @linedash ), it seems to be an issue with the **ForwardedEvents** type. I looked at the structure of the _BinXML_ of this type of events and it **seems to be quite different**, but I'm unable to

[2019-05-29 18:26] jdeloshoyos commented on #62
I'm using this script a lot, with great results, and have also encountered this problem when converting some logs that contain illegal characters in its data for whatever reason. Here's a quick and dirty fix that did the trick for me:

In Evtx\Nodes.py:
`    def string(self):
        binary = self.binary()
        acc = []
        while len(binary) > 0:
            match = re.search(b"((?:[^\x00].

[2019-06-22 03:37] 422926799 opened #64 "Modify parsing exceptions (errors when parsing non-uniform substrings of null values)"
I met a problem in parsing.
[code]
![](https://s2.ax1x.com/2019/06/22/ZpRvuV.png)

I tracked down 1555 lines of Nodes.py and found that rasie caused the termination of the whole program.

I tracked Nodes.py's 1555 lines and changed it to pass to solve the problem.
![](https://s2.ax1x.com/2019/06/22/ZpROcq.png)

[2019-07-30 10:31] tomrade opened #65 "Log Size"
Sorry if ive missed something, but is there a quick way to get the length of the evtx file ie the number of log records. I looked at looping over chunks/events to count, but didn't know if there was a simple/quick way.

[2019-07-30 15:59] williballenthin commented on #65
i think you have to loop through the chunks and use the fields `log_first_record_number` and `log_last_record_number` to compute the total number of records in the log.

the header does contains metadata about the current/next log record numbers; however, this is different from total record count, because old events may have expired.

[2019-07-31 14:51] tomrade commented on #65
Hey thanks for the quick response , will do that :)

[2019-07-31 14:51] #65 closed

[2019-11-04 14:05] mcepl opened #66 "Make the package working with pytest4 (and two cosmetic nit-fixes)"
The way your tests use fixtures is incompatible with pytest 4. With this [tiny patch](https://github.com/williballenthin/python-evtx/files/3804302/pytest4.patch.txt) it works again.

[2019-11-08 06:04] IceM4nn commented on #54
Add `.encode('utf-8')` at line 15 file `evtx_filter_records.py` after `record_xml` like so:
[code]
This fixes the error.

[2020-01-09 22:33] ChiefyChief commented on #46
Experiencing the same exact issues. Any recommendations?

[2020-05-21 00:58] atcuno opened #67 "setup.py issues on Ubuntu 18.04.3, pip pinning needed"
A number of dependencies are broken on latest 18.04 LTS. Most of them seem to be the packages moving onto Python 3. To get it working, I had to pin the following with pip:

pip install more_itertools==5.0.0
pip install zipp==1.0.0
pip install configparser==4.0.2
pip install pyparsing==2.4.7

Pretty sure you could add these specifically in setup.py to get a clean install.

[2020-05-21 14:10] #67 closed

[2020-05-21 14:10] williballenthin commented on #67
added in 1ea9d044f43e3c83ea887fb6901ddbcce199f824

[2020-05-21 14:10] #53 closed

[2020-05-24 15:29] makitos666 opened #68 "UnicodeDecodeError on BinaryParser"
Sometimes, when parsing huge EVTX I get this error

`in xml_records for xml, record in evtx_file_xml_view(evtx.get_file_header()): File "/usr/local/lib/python3.7/site-packages/Evtx/Views.py", line 240, in evtx_file_xml_view record_str = evtx_record_xml_view(record) File "/usr/local/lib/python3.7/site-packages/Evtx/Views.py", line 204, in evtx_record_xml_view return render_root_node(record.root())

[2020-05-27 12:09] naggie commented on #46
@williballenthin I believe this evt(x) file causes the same exception: https://send.firefox.com/download/1804ced0a1ad523c/#A_E9qDRE3rU1poCUk_zq4g

I hope this helps.

(it's produced by wusa.exe)

[2020-09-25 02:33] dotaky99 opened #69 "OSError: [Errno 22] Invalid argument"
Win10 / Pyhton 3.8.5
I got this Error too.
This is my test WIN System event log.
System.evtx XML

[code]

[2020-09-25 04:10] #69 closed

[2020-09-28 10:01] NicolasWinckler opened #70 "AccessList values map"
Parsing the AccessList field for example for the AD 4656 events gives, with the python-evtx, a list of codes like
%%1537, %%1538, %%1539, %%1540, %%1541, %%4480 ...
while the windows evtx viewer shows a list with human readable codes like below
DELETE, READ_CONTROL, WRITE_DAC, WRITE_OWNER, SYNCHRONIZE ...

Any idea how i can remap to human readable format?
Thanks

[2020-10-04 23:36] jsaspo opened #71 "parse_filetime error"
**Using evtx_dump.py to dump several .evtx logs successfully.  However, I have one System.evtx that produces the following error mid-dump (the XML at the top is the last successful record "1190" before the dump errors out:**

[code]

**I'm assuming this is an issue with the following record "1191".  Here is the Event Viewer display for that record:**

![evtx_friendly](https://user-images.githubuse

[2020-10-05 00:25] jsaspo commented on #69
I see this is closed.  Was there a fix?  I have the exact same error on an Event 107 in System log and am running Python 3.8.5.

[2020-10-05 00:29] jsaspo commented on #71
I now se that Issue #69 was recently closed with this same log, event ID, and error.  Was there a fix?

[2020-10-05 14:21] williballenthin commented on #71
the reporter closed the issue without any further information. im not aware of any fix.

interesting that its the same log/id/error. i'm not able to provide too much support for this parser these days, but perhaps i can take a peek and attempt a fix if its obvious.

[2020-10-05 14:40] williballenthin commented on #71
taking a hint from [this](https://stackoverflow.com/a/41400321/87207) post, i've found that Python on Windows handles dates differently than on Linux (i guess thats probably not a surprise to anyone). specifically, a "zero date" (like the 1601-01... one you show above) cannot be represented correctly:

![image](https://user-images.githubusercontent.com/156560/95093768-5c8e3380-06e6-11eb-909c-c05ed

[2020-10-05 14:45] williballenthin commented on #71
although... i think this should be fixed in master thanks to 28095cc24fdd972531b67edc8aa80bdf83c403ef and a5eac06a44c232cca509d8a5308e61c3989faf99

do you have a moment to try out the code in master? if it works for you, i'll cut a new release and upload to pypi

[2020-10-05 19:12] jsaspo commented on #71
Thank you for the quick response.  The code in master worked great!  No issue, buzzed through the entire System.evtx.

I should have looked into this further.  I used pip install initially and didn't realize the versions are different.  I'm a little green on Git/PyPi.

Awesome, thanks again.

[2020-10-08 17:49] jsaspo commented on #71
@williballenthin

Closing as it appears this is resolved in master.

[2020-10-08 17:49] #71 closed

[2020-10-19 06:21] dotaky99 commented on #69
yes I fixed that problem. There is a problem in BinaryParser.py :)

2020년 10월 5일 (월) 오전 9:25, jsaspo <notifications@github.com>님이 작성:

[2021-02-16 16:05] williballenthin commented on #66
fixed in d94999045b5bad9bcde680e663b20b27959eec42 thanks @mcepl

[2021-02-16 16:05] #66 closed

[2021-04-29 05:05] RedCode-X commented on #43
I have the same problem with excel .
UnicodeDecodeError: 'utf-16-le' codec can't decode bytes in position 166-167: unexpected end of data

[2021-08-04 10:15] #70 closed

[2021-08-14 13:25] Squiblydoo opened #73 "AttributeError: module 'evtx' has no attribute 'Evtx'"
I feel like I must be making some stupid mistake, but I haven't been able to find the solution after a few hours of poking around.

![image](https://user-images.githubusercontent.com/77356206/129447207-a4bce02a-6b37-41f2-a2f8-49b5c21dd96e.png)
Using Windows 10 and using Python 3.9.1, if I install python-evtx using "python -m pip install python-evtx"; then import the module and try to use it, I con

[2021-08-16 01:20] williballenthin commented on #73
In short:
![image](https://user-images.githubusercontent.com/156560/129499245-f483a5f1-597c-4775-ae63-c107005e076f.png)

More detail:
When I first started to develop this library (back in 2013 :-O) I didn't think enough about the module layout and so we end up with slightly confusing fully-qualified module/class names.

The project is `Evtx` and so there's a top level namespace `Evtx`.
There's a p

[2021-08-16 01:21] williballenthin commented on #73
Feel free to re-open this issue with any further questions or problems - happy to help!

[2021-08-16 01:21] #73 closed

[2021-08-16 01:23] williballenthin commented on #73
you could also take a look at how the example scripts do their imports:
https://github.com/williballenthin/python-evtx/blob/master/scripts/evtx_dump.py#L20-L21

![image](https://user-images.githubusercontent.com/156560/129499626-20469ce9-41e2-4dba-95a0-2ea5ecd8bbbc.png)

[2021-09-07 20:28] forensenellanebbia opened #74 "evtx_dump_chunk_slack: write argument must be str not bytes"
If I use Python 3 (x64) to run the script **evtx_dump_chunk_slack.py** against an EVTX file, I get this error:

I tried with Python 3.8.5 and 3.9.7.

To bypass the error, and to make the script work with both Python 2 and 3, I replaced line 43:

`sys.stdout.write(buf[last_allocated_offset:chunk_start + 0x10000])`

with:
[code]

[2021-09-10 15:31] williballenthin commented on #74
this is a good fix. would you consider opening a PR (even via the github web interface) with these changes?

[2021-09-16 06:41] gopalchowdary1 commented on #43
any solution for this

[2021-09-23 15:31] Dhruva0707 opened #76 "Get the task to task category mapping"
It would be nice to get the mapping of task (int) to task category (string) mapping. At the moment i couldn't find anything to get the same

[2021-10-05 12:48] spinenkoia commented on #42
@MrAnde7son did you manage to use the library ? There is a ready-made solution
https://github.com/irtimmer/tivan/blob/master/tivan/parser/binxml.py

[2022-01-13 09:49] Ron-Nefyodov opened #77 "format xml to binary xml"
i want to get xml back to binay xml to put it back into evtx

[2022-01-13 09:52] Ron-Nefyodov commented on #77
the xml is the output of evtx-dump

[2022-01-26 03:00] sodface opened #78 "Update project url?"
Hello, what is the preferred url to use for this project? The url listed on the main repo page is dead:
http://www.williballenthin.com/evtx/index.html

[2022-01-26 15:53] williballenthin commented on #78
the url should point to this repo: https://github.com/williballenthin/python-evtx

however, I don't see the link you're referring to?

![image](https://user-images.githubusercontent.com/156560/151197833-ff778fc8-4013-4e2e-b0f3-ee5473a9506b.png)

[2022-01-26 18:31] sodface commented on #78
Thanks for the clarification. The URL I was asking about is on the main repo page near the license. This screenshot is from my mobile phone, in a non mobile layout it's on the right side but still near the license.

![Screenshot_20220126-132259](https://user-images.githubusercontent.com/46695384/151224682-f91907ac-bbbe-4bb3-a65a-ee5060b668fb.png)

[2022-01-26 19:35] williballenthin commented on #78
ahh, thank you!

[2022-01-26 19:36] williballenthin commented on #78
fixed (by removing the link)

[2022-01-26 19:36] #78 closed

[2022-06-02 10:07] #74 closed

[2022-07-12 23:04] Sankgreall commented on #42
If I can, I'd like to re-open this. My use case is slightly different, where I am using data lakes to carve event logs from super high fidelity storage in a memory efficient way. Currently I am able to map out all the chunks and records using all the available documentation on the event log specification, but the BinXML issue I am finding more challenging.

Like @MrAnde7son, I have raw byte array